body, h1, h2, h3, h4, h5, h6,
.uk-navbar-nav > li > a {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html, body {
    margin: 0px;
    height: 100%;
}

.logo_icon {
    height: 23px;
    width: 23px;
    margin-right: 5px;
}

.icon {
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

body > .uk-grid {
    height: 100%;
}

th{
    background-color: #70889e;
    color: #fff;
}

.frameBody{
    padding: 0px 0px 0px 35px;
}

.frameBody > .uk-grid > div:first-child {
    min-height: 80%;
    padding-right: 35px;
}


.frameBody > .uk-grid > div:last-child {
    min-height:40pxpx;
    margin-top: 35px;
}

.port_input_button {
    width: 55px;
}

.mr5 {
    margin-right: 5px;
    margin-left: 5px;
}

.summeryField {
    font-weight: bolder;
    border: 1px solid #ddd;
}

.dialogField{
    text-align: right;
    font-weight: bolder;
    vertical-align: middle !important;
}

.created, .running {
    background-color: #ebf7fd;
    color: #2d7091;
    border-color: rgba(45, 112, 145, 0.3);
    border: 1px solid #ddd;
}

.restarting, .paused {
    background: #f2fae3;
    color: #659f13;
    border-color: rgba(101, 159, 19, 0.3);
    border: 1px solid #ddd;
}

.stop, .dead {
    background: #fff1f0;
    color: #d85030;
    border-color: rgba(216, 80, 48, 0.3);
    border: 1px solid #ddd;
}

.exited {
    background: #fffceb;
    color: #e28327;
    border-color: rgba(226, 131, 39, 0.3);
    border: 1px solid #ddd;
}
.terminal{
    /*color: #19f900;*/
    background-color: #333333;
    padding: 0px;
    height: 400px;
}


