<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DockerFly</title>
</head>
<link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico"/>
<link rel="stylesheet" href="../../css/uikit/uikit.css"/>
<script src="../../js/common/jquery.min.js"></script>
<script src="../../js/common/vue.min.js"></script>
<script src="../../js/component/switch.js"></script>
<script src="../../js/common/uikit.js"></script>

<link rel="stylesheet" href="../../css/main.css"/>
<script lang="javascript" src="../../js/utils.js"></script>
<script lang="javascript">
    doImport("org.voovan.docker.command.Service.CmdServiceCreate")

    doImport("org.voovan.docker.command.Image.CmdImageList")
    doImport("org.voovan.docker.command.Network.CmdNetworkList")
    doImport("org.voovan.docker.command.Volume.CmdVolumeList")

    function init() {
        serviceListVue = new Vue({
            el: '#ServiceApp',
            data: {
                networkList: null,
                volumeList: null,
                imageList: null,
                queryParams:{
                    name:"",
                    id:"",
                    status:"All"
                },
                createParams:{
                    cpuPeriod:100000,
                    name:"",
                    image:"",
                    command:"",
                    env:"",
                    mode:"replicated",
                    cpuLimit:1,
                    memoryLimit:64,
                    cpuReservation:0,
                    memoryReservation:0,
                    network:"",
                    port: {
                        ports:[],
                        add: function(){
                            var port = {};
                            port.hostPort = null;
                            port.containerPort = null;
                            port.protocol = "tcp";
                            this.ports.push(port);
                        },
                        remove: function(index){
                            this.ports.remove(index)
                        }
                    },
                    volume:{
                        volumes:[],
                        add: function(){
                            var volume = {};
                            volume.volumeSource = null;
                            volume.volumeTarget = null;
                            this.volumes.push(volume);
                        },
                        remove: function(index){
                            this.volumes.remove(index)
                        }
                    },
                    replicate:1
                }
            },
            methods: {
                getImageList: function () {
                    try{
                        var cmdImageList = new CmdImageList();
                        connect(cmdImageList);

                        this.imageList = cmdImageList.send().sortBy("Created");
                        cmdImageList.close();
                        cmdImageList.release();
                    } catch (e) {
                        alertError(e)
                    }
                },
                getNetworkList: function () {
                    try{
                        var cmdNetworkList = new CmdNetworkList();
                        connect(cmdNetworkList);
                        //cmdNetworkList.type("custom");
                        this.networkList = cmdNetworkList.send().sortBy("name");
                        cmdNetworkList.close();
                        cmdNetworkList.release();
                    } catch (e) {
                        alertError(e)
                    }
                },
                getVolumeList: function () {
                    try{
                        var cmdVolumeList = new CmdVolumeList();
                        connect(cmdVolumeList);
                        this.volumeList = cmdVolumeList.send().sortBy("name");
                        cmdVolumeList.close();
                        cmdVolumeList.release();
                    } catch (e) {
                        alertError(e)
                    }
                },
                create: function () {
                    try {

                        var cmdServiceCreate = new CmdServiceCreate();
                        connect(cmdServiceCreate);

                        if(this.createParams.name!=""){
                            cmdServiceCreate.name(this.createParams.name);
                        }

                        if (this.createParams.image != "") {
                            cmdServiceCreate.image(this.createParams.image);
                        }

                        if (this.createParams.command != "") {
                            cmdServiceCreate.cmd(this.createParams.command.split(" "));
                        }

                        if (this.createParams.env != "") {
                            cmdServiceCreate.env(this.createParams.env.split(","));
                        }

                        if (this.createParams.cpuLimit != "") {
                            cmdServiceCreate.cpuLimit(this.createParams.cpuLimit);
                        }

                        if (this.createParams.memoryLimit != "") {
                            cmdServiceCreate.memoryLimit(this.createParams.memoryLimit);
                        }

                        if (this.createParams.cpuReservation != "") {
                            cmdServiceCreate.cpuReservation(this.createParams.cpuReservation);
                        }

                        if (this.createParams.memoryReservation != "") {
                            cmdServiceCreate.memoryReservation(this.createParams.memoryReservation);
                        }

                        if (this.createParams.network != "") {
                            cmdServiceCreate.network(this.createParams.network);
                        }

                        if (this.createParams.port.ports.length > 0) {
                            for(var i = 0; i<this.createParams.port.ports.length; i++) {
                                var port = this.createParams.port.ports[i];
                                cmdServiceCreate.port(port.protocol, port.containerPort, port.hostPort);
                            }
                        }
                        if (this.createParams.volume.volumes.length > 0) {
                            var volumes = new Array();
                            for(var i = 0; i<this.createParams.volume.volumes.length; i++) {
                                var volume = this.createParams.volume.volumes[i];
                                if (volume.linkName != "") {
                                    cmdServiceCreate.mount( "volume", volume.volumeSource , "/"+volume.volumeTarget, false);
                                } else {
                                    cmdServiceCreate.mount("volume", volume.volumeSource , "/"+volume.volumeSource, false);
                                }
                            }
                        }

                        if (this.createParams.replicate != "") {
                            cmdServiceCreate.replicate(this.createParams.replicate);
                        }

                        cmdServiceCreate.send(function(){
                            alert("<span class='uk-text-large uk-text-primary'>Service "+this.createParams.name+" created.</span>")
                            cmdServiceCreate.close();
                            cmdServiceCreate.release();
                            serviceListVue.query()
                        }, function(){
                            alertError("Create service "+this.createParams.name+" failed");
                            cmdServiceCreate.close();
                            cmdServiceCreate.release();
                        });
                        alert("Create service success.");
                    } catch (e) {
                        alertError(e);
                    }
                },
            }
        });

        try{
            serviceListVue.getImageList();
            serviceListVue.getNetworkList();
            serviceListVue.getVolumeList();
        } catch (e) {
            alertError(e)
        }
    }
</script>
<body onload="init()" class="frameBody">
<div id="ServiceApp" class="uk-grid">
    <div class="uk-width-6-6">
        <div class="uk-panel"></div>
        <h3 class="uk-text-middle"><span class="icon uk-icon-gears"></span> Create a new Service</h3>
            <div class="uk-form">
                <table class="uk-table uk-overflow-service uk-panel-box">
                    <tr>
                        <td class="dialogField">Name:</td>
                        <td><input class="uk-form-width-medium" type="text"
                                   placeholder="e.g. myService" v-model="createParams.name"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Image:</td>
                        <td>
                            <select class="uk-form-width-medium" v-model="createParams.image" autocomplete="off">
                                <option v-for="(image,index) in imageList"
                                        :value="image.repoTags[0]"
                                v-if="image.repoTags.length!=0">{{image.repoTags[0]}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="dialogField">Mode:</td>
                        <td class="uk-form">
                            <c-switch bind="createParams.mode"
                                      :switch='{"Global":"global","Replicated":"replicated"}'
                                      theme="uk-button-success"></c-switch>
                        </td>
                    </tr>
                    <tr v-if="createParams.mode=='replicated'">
                        <td class="dialogField">Replicate:</td>
                        <td><input class="uk-form-width-small uk-text-center" type="number"
                                   placeholder="replicate count" v-model="createParams.replicate"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Command:</td>
                        <td><input class="uk-form-width-large" type="text"
                                   placeholder="e.g. /usr/bin/nginx -t -c /mynginx.conf" v-model="createParams.command"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Env:</td>
                        <td><input class="uk-form-width-large" type="text"
                                   placeholder="e.g. author=dockerfly,host=linux" v-model="createParams.env"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">CPU:</td>
                        <td><input type="number" class="uk-form-width-small uk-text-center"
                                   placeholder="cpu core count" v-model="createParams.cpuLimit"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Memory:</td>
                        <td><input type="number" class="uk-form-width-small uk-text-center"
                                   placeholder="memory size (Mb)" v-model="createParams.memoryLimit"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Network:</td>
                        <td>
                            <select class="uk-form-width-medium" v-model="createParams.network">
                                <option value="">Nothing</option>
                                <option v-for="network in networkList" v-if="network.driver=='overlay'"
                                        :value="network.id">{{network.name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="dialogField">Port:</td>
                        <td>
                            <div class="uk-panel  uk-width-10-10">
                                <ul class="uk-list uk-list-line ">
                                    <li>
                                        <a href="#" class="uk-button uk-button-primary" @click="createParams.port.add()">
                                            <i class="uk-icon-plus-square"></i> Add export port</a>
                                    </li>
                                    <li v-for="(port,index) in createParams.port.ports">
                                        <div class="uk-grid">
                                            <div class="uk-text- uk-width-9-10">
                                                <input class="uk-form-width-medium" type="number"
                                                       placeholder="e.g. 80 on host" v-model="port.hostPort"/>
                                                &nbsp;:&nbsp;
                                                <input class="uk-form-width-medium" type="number"
                                                       placeholder="e.g. 80 on container" v-model="port.containerPort"/>
                                                &nbsp;/&nbsp;
                                                <c-switch :bind="`createParams.port.ports[`+index+`].protocol`"
                                                          :switch='{"TCP":"tcp","UDP":"udp"}' theme="uk-button-success"></c-switch>
                                            </div>
                                            <div class="uk-width-1-10">
                                                <a href="#" class="uk-button uk-button-mini uk-button-danger" @click="createParams.port.remove(index)">
                                                    <span class="uk-icon-trash"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="dialogField">Volume:</td>
                        <td>
                            <div class="uk-panel  uk-width-10-10">
                                <ul class="uk-list uk-list-line ">
                                    <li>
                                        <a href="#" class="uk-button uk-button-primary" @click="createParams.volume.add()">
                                            <i class="uk-icon-plus-square"></i> Add volume</a>
                                    </li>
                                    <li v-for="(volume,index) in createParams.volume.volumes">
                                        <div class="uk-grid">
                                            <div class="uk-text- uk-width-9-10">
                                                <select class="uk-form-width-medium" v-model="volume.volumeSource">
                                                    <option value="">Nothing</option>
                                                    <option v-for="volume in volumeList"
                                                            :value="volume.name">{{volume.name}}
                                                    </option>
                                                </select>
                                                &nbsp;:&nbsp;
                                                <input class="uk-form-width-medium uk-text-center" type="text"
                                                       placeholder="e.g. temp" v-model="volume.volumeTarget"/>
                                            </div>
                                            <div class="uk-width-1-10">
                                                <a href="#" class="uk-button uk-button-mini uk-button-danger" @click="createParams.volume.remove(index)">
                                                    <span class="uk-icon-trash"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="dialogField" colspan="2">
                            <a href="#" class="uk-button uk-button-primary"  @click="create()">Create</a>
                        </td>
                    </tr>
                </table>
            </div>
    </div>
    <div class="uk-width-6-6">
        <div style="min-height:40px;" class="uk-text-center uk-margin-bottom">
            <div><img height="27" width="120" src="../../img/logo.png"/></div>
            <div>CopyRight <span class="uk-icon-copyright"></span> Voovan Vsetful</div>
            <div>Powered by Voovan open source framework.</div>
            <div></div>
        </div>
    </div>
</div>

</body>
</html>