<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DockerFly</title>
</head>
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
<link rel="stylesheet" href="css/uikit/uikit.css"/>
<script src="js/common/jquery.min.js"></script>
<script src="js/common/vue.min.js"></script>
<script src="js/common/uikit.js"></script>

<link rel="stylesheet" href="css/main.css"/>
<script lang="javascript" src="js/utils.js"></script>
<script lang="javascript">
    doImport("org.voovan.docker.command.Container.CmdContainerCreate")
    doImport("org.voovan.docker.command.Container.CmdContainerList")
    doImport("org.voovan.docker.command.Container.CmdContainerStart")
    doImport("org.voovan.docker.command.Container.CmdContainerStop")
    doImport("org.voovan.docker.command.Container.CmdContainerRemove")
    doImport("org.voovan.docker.command.Container.CmdContainerPause")
    doImport("org.voovan.docker.command.Container.CmdContainerUnPause")

    doImport("org.voovan.docker.command.Image.CmdImageListInfo")
    doImport("org.voovan.docker.command.Network.CmdNetworkList")
    doImport("org.voovan.docker.command.Volume.CmdVolumeList")

    function init() {
        containerListVue = new Vue({
            el: '#ContainerApp',
            data: {
                containerList: null,
                networkList: null,
                volumeList: null,
                imageList: null,
                queryParams:{
                    name:"",
                    id:"",
                    status:"All"
                },
                createParams:{
                    cpuPeriod:100000,
                    name:"",
                    image:"",
                    command:"",
                    env:"",
                    cpuQuota:1,
                    memory:64,
                    network:"",
                    hostPort:"",
                    containerPort:"",
                    protocol:"tcp",
                    volume:"",
                    linkContainer:"",
                    linkName:""
                }
            },
            methods: {
                //查询方法
                query: function () {
                    try {
                        var cmdContainerList = new CmdContainerList();
                        cmdContainerList.all(true)

                        if (this.queryParams.name != "") {
                            cmdContainerList.name(this.queryParams.name);
                        }

                        if (this.queryParams.id != "") {
                            cmdContainerList.id(this.queryParams.id);
                        }

                        if (this.queryParams.status != "All") {
                            cmdContainerList.status("[" + this.queryParams.status + "]");
                        }

                        //cmdContainerList.label("author","helyho");
                        containerListVue.containerList = cmdContainerList.send().sortBy("id", true);
                        cmdContainerList.close();
                        cmdContainerList.release();
                    } catch (e) {
                        alertError(e)
                    }
                },

                //启动方法
                start: function (container) {
                    try {
                        if (container.state == "paused") {
                            cmdContainerUnPause = new CmdContainerUnPause(container.id)
                            cmdContainerUnPause.send();
                            cmdContainerUnPause.close();
                            cmdContainerUnPause.release();
                        } else {
                            cmdContainerStart = new CmdContainerStart(container.id);
                            cmdContainerStart.send()
                            cmdContainerStart.close();
                            cmdContainerStart.release()
                        }
                        this.query()
                    } catch (e) {
                        alertError(e)
                    }
                },

                //停止方法
                stop: function (container) {
                    try {
                        cmdContainerStop = new CmdContainerStop(container.id);
                        cmdContainerStop.send();
                        cmdContainerStop.close();
                        cmdContainerStop.release();
                    } catch (e) {
                        alertError(e)
                    }
                    this.query()
                },

                //移除方法
                remove: function (container) {
                    try{
                        name = container.names[0]
                        id = container.id

                        UIkit.modal.confirm("Are you sure to remove <span class='uk-text-danger'>" + delFirestChar(name) + "</span> ?", function () {
                            try {
                                cmdContainerRemove = new CmdContainerRemove(id);
                                cmdContainerRemove.send();
                                cmdContainerRemove.close();
                                cmdContainerRemove.release();
                                containerListVue.query();
                            } catch (e) {
                                alertError(e)
                            }
                        });
                    } catch (e) {
                        alertError(e)
                    }
                },

                //暂停和恢复方法
                pause: function (container) {
                    try {
                        cmdContainerPause = new CmdContainerPause(container.id)
                        cmdContainerPause.send();
                        cmdContainerPause.close();
                        cmdContainerPause.release();
                    } catch (e) {
                        alertError(e)
                    }
                    this.query()
                },
                openCreateDialog: function () {
                    try{
                        containerListVue.getImageList();
                        containerListVue.getNetworkList();
                        containerListVue.getVolumeList();
                    } catch (e) {
                        alertError(e)
                    }
                    createContainerDialog = UIkit.modal("#createContainerDialog");
                    createContainerDialog.show();
                },
                getImageList: function () {
                    try{
                        var cmdImageListInfo = new CmdImageListInfo();

                        containerListVue.imageList = cmdImageListInfo.send().sortBy("Created");
                        cmdImageListInfo.close();
                        cmdImageListInfo.release();
                    } catch (e) {
                        alertError(e)
                    }
                },
                getNetworkList: function () {
                    try{
                        var cmdNetworkList = new CmdNetworkList();
                        //cmdNetworkList.type("custom");
                        containerListVue.networkList = cmdNetworkList.send().sortBy("name");
                        cmdNetworkList.close();
                        cmdNetworkList.release();
                    } catch (e) {
                        alertError(e)
                    }
                },
                getVolumeList: function () {
                    try{
                        var cmdVolumeList = new CmdVolumeList();
                        containerListVue.volumeList = cmdVolumeList.send().sortBy("name");
                        cmdVolumeList.close();
                        cmdVolumeList.release();
                    } catch (e) {
                        alertError(e)
                    }
                },
                create: function () {
                    try {

                        var cpuPeriod = 100000;

                        cmdContainerCreate = new CmdContainerCreate(this.createParams.name);
                        cmdContainerCreate.cpuPeriod(this.createParams.cpuPeriod);

                        if (this.createParams.image != "") {
                            cmdContainerCreate.image(this.createParams.image);
                        }

                        if (this.createParams.command != "") {
                            cmdContainerCreate.cmd(this.createParams.command.split(" "));
                        }

                        if (this.createParams.env != "") {
                            cmdContainerCreate.env(this.createParams.env.split(","));
                        }

                        if (this.createParams.cpuQuota != "") {
                            cmdContainerCreate.cpuQuota(this.createParams.cpuQuota * this.createParams.cpuPeriod);
                        }

                        if (this.createParams.memory != "") {
                            cmdContainerCreate.memory(this.createParams.memory);
                        }

                        if (this.createParams.network != "") {
                            cmdContainerCreate.network(this.createParams.network);
                        }

                        if (this.createParams.containerPort != "" && this.createParams.hostPort != null) {
                            cmdContainerCreate.exposePort(this.createParams.containerPort, this.createParams.protocol, [this.createParams.hostPort]);
                        }
                        if (this.createParams.volume != "") {
                            cmdContainerCreate.volume([this.createParams.volume + ":/" + this.createParams.volume]);
                        }

                        if (this.createParams.linkContainer != "") {
                            if (this.createParams.linkName != "") {
                                this.createParams.linkContainer = this.createParams.linkContainer + ":" + this.createParams.linkName;
                            } else {
                                this.createParams.linkContainer = this.createParams.linkContainer + ":" + this.createParams.linkName;
                            }
                            cmdContainerCreate.link([this.createParams.linkContainer]);
                        }
                        cmdContainerCreate.send();
                        cmdContainerCreate.close();
                        createContainerDialog.hide();
                        UIkit.modal.alert("Create container success.");
                        containerListVue.query();
                    } catch (e) {
                        alertError(e);
                    }
                }
            }
        });
        containerListVue.query()
    }
</script>
<body onload="init()" class="frameBody">
<div id="ContainerApp" class="uk-grid" style="height:100%">
    <div class="uk-width-6-6" style="padding-right: 32px;">
        <div class="uk-panel"></div>
        <h3 class="uk-text-middle">Container manager</h3>
        <div class="uk-panel uk-panel-box uk-text-bold">
            <div class="uk-grid">
                <div class="uk-width-5-6 uk-form">
                    <span class="mr5">Id:</span>
                    <input class="uk-form-width-medium" id="id"
                           type="text" placeholder="container  id" v-model="queryParams.id">
                    <span class="mr5">Name:</span>
                    <input class="uk-form-width-medium" id="name"
                           type="text" placeholder="container name" v-model="queryParams.name">
                    <span class="mr5">Status:</span>
                    <select id="status" v-model="queryParams.status">
                        <option value="All">All</option>
                        <option value="created">created</option>
                        <option value="restarting">restarting</option>
                        <option value="running">running</option>
                        <option value="paused">paused</option>
                        <option value="exited">exited</option>
                        <option value="dead">dead</option>
                    </select>
                    <a class="uk-button uk-button-small" @click="query()"><i class="uk-icon-search"></i></a>
                </div>
                <div class="uk-width-1-6 uk-text-right">
                    <a class="uk-button uk-button-small uk-button-primary"
                       @click="openCreateDialog"><i class="uk-icon-plus-square"></i> </a>
                </div>
            </div>
        </div>
        <table id="containerList" class="uk-table uk-overflow-container uk-panel-box">
            <caption>Container list</caption>
            <thead>
            <tr>
                <th class="uk-text-center">NO.</th>
                <th>Name</th>
                <th>Image</th>
                <th>Export Port</th>
                <th>Network & IP</th>
                <th class="uk-text-center">Status</th>
                <th class="uk-text-center">Operation</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="(container,index) in containerList">
                <td class="uk-text-center uk-text-middle uk-text-small">{{index}}</td>
                <td class="uk-text-bold uk-text-middle uk-text-primary">
                    {{container.names[0]|delFirestChar|shortDockerId(18)}}
                </td>
                <td class="uk-text-middle">{{container.image | shortDockerId(12)}}</td>
                <td class="uk-text-middle">
                    <div v-for="port in container.ports">
                        <code>{{port.Type}}/{{port.PrivatePort}}:{{port.PublicPort}}</code>
                    </div>
                </td>
                <td class="uk-text-middle">
                    <code v-for="(network,networkName) in container.networkSettings.networks">
                        {{networkName}}{{network.ipAddress==""?"":":"}}{{network.ipAddress}}
                    </code>
                </td>
                <td :class="container.state" class="uk-text-center uk-text-bold uk-text-middle">
                    {{container.state.toUpperCase()}}
                </td>
                <td class="uk-text-center uk-text-middle">
                    <div class="uk-button-group">
                        <input class="uk-button uk-button-small " type="button" value="View"/>
                        <input class="uk-button uk-button-small uk-button-primary" type="button" value="Start"
                               :disabled="container.state=='running'" @click="start(container)"/>
                        <input class="uk-button uk-button-small uk-button-success" type="button" value="Stop"
                               :disabled="container.state!='running'" @click="stop(container)"/>
                        <input class="uk-button uk-button-small uk-button-warning" type="button" value="Pause"
                               :disabled="container.state=='paused' || container.state!='running' "
                               @click="pause(container)"/>
                        <input class="uk-button uk-button-small uk-button-danger" type="button" value="Remove"
                               @click="remove(container)"/>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="createContainerDialog" class="uk-modal">
        <div class="uk-modal-dialog uk-modal-dialog-large uk-overflow-container">
            <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
            <div class="uk-modal-header"><h2 class="uk-text-success">Create a new container</h2></div>
            <div class="uk-form">
                <table class="uk-table uk-overflow-container uk-panel-box">
                    <tr>
                        <td class="dialogField">Name:</td>
                        <td><input class="uk-form-width-medium" id="name" type="text"
                                   placeholder="contianer name" v-model="createParams.name"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Image:</td>
                        <td>
                            <select id="image" class="uk-form-width-medium" v-model="createParams.image">
                                <option v-for="image in imageList"
                                        :value="image.id|shortDockerId(12)"
                                v-if="image.repoTags.length!=0">{{image.repoTags[0]}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="dialogField">Command:</td>
                        <td><input class="uk-form-width-large" id="command" type="text"
                                   placeholder="command to run" v-model="createParams.command"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Env:</td>
                        <td><input class="uk-form-width-large" id="env" type="text"
                                   placeholder="like: author=dockerfly" v-model="createParams.env"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">CPU Quota:</td>
                        <td><input id="cpuQuota" type="text" class="uk-form-width-small"
                                   placeholder="cpu core count" v-model="createParams.cpuQuota"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Memory:</td>
                        <td><input id="memory" type="text" class="uk-form-width-small"
                                   placeholder="memory size (Mb)" v-model="createParams.memory"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Network:</td>
                        <td>
                            <select id="network" class="uk-form-width-medium" v-model="createParams.network">
                                <option value="" selected>Nothing</option>
                                <option v-for="network in networkList"
                                        :value="network.id|shortDockerId(12)">{{network.name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="dialogField">Port:</td>
                        <td>
                            <input class="uk-form-width-mini" style="width: 55px"
                                   id="hostPort" type="text" placeholder="host" v-model="createParams.hostPort"/>
                            &nbsp;:&nbsp;
                            <input class="uk-form-width-mini" style="width: 55px"
                                   id="containerPort" type="text" placeholder="guest" v-model="createParams.containerPort"/>
                            &nbsp;/&nbsp;
                            <select id="protocol">
                                <option value="tcp" selected>tcp</option>
                                <option value="udp">udp</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="dialogField">Volume:</td>
                        <td>
                            <select id="volume" class="uk-form-width-medium" v-model="createParams.volume">
                                <option value="" selected>Nothing</option>
                                <option v-for="volume in volumeList"
                                        :value="volume.name">{{volume.name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="dialogField">Link:</td>
                        <td>
                            <select id="linkContainer" class="uk-form-width-medium" v-model="createParams.linkContainer">
                                <option value="" selected>Nothing</option>
                                <option v-for="container in containerList"
                                        :value="container.id | shortDockerId(12)">
                                    {{container.names[0]|delFirestChar|shortDockerId(18)}}
                                </option>
                            </select>
                            :
                            <input id="linkName" type="text" placeholder="name in contianer"
                                    v-model="createParams.linkName"/>
                        </td>
                    </tr>

                    <tr>
                        <td class="dialogField" colspan="2">
                            <input id="create" class="uk-button uk-button-primary" style="color:white"
                                   type="button" value="Create" @click="create()">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>