<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DockerFly</title>
</head>
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
<link rel="stylesheet" href="css/uikit/uikit.css"/>
<script src="js/common/jquery.min.js"></script>
<script src="js/common/vue.min.js"></script>
<script src="js/common/uikit.js"></script>

<link rel="stylesheet" href="css/main.css"/>
<script lang="javascript" src="js/utils.js"></script>
<script lang="javascript">
    doImport("org.voovan.docker.command.Network.CmdNetworkCreate")
    doImport("org.voovan.docker.command.Network.CmdNetworkList")
    doImport("org.voovan.docker.command.Network.CmdNetworkRemove")

    function init() {
        networkListVue = new Vue({
            el: '#networkApp',
            data: {
                networkList: null,
                queryParams: {
                    name:"",
                    id:"",
                    driver:"ALL"
                },
                createParams:{
                    name: "",
                    driver:"bridge",
                    gateway:"",
                    subnet:"",
                    ipRange:""
                }
            },
            methods: {
                //查询方法
                query: function () {
                    try {
                        var cmdNetworkList = new CmdNetworkList();
                        cmdNetworkList.type("custom");

                        if (this.queryParams.name != "") {
                            cmdNetworkList.name(this.queryParams.name);
                        }

                        if (this.queryParams.id != "") {
                            cmdNetworkList.id(this.queryParams.id);
                        }

                        if (this.queryParams.driver != "ALL") {
                            cmdNetworkList.driver(this.queryParams.driver);
                        }

                        //cmdContainerList.label("author","helyho");

                        this.networkList = cmdNetworkList.send().sortBy("name");
                        cmdNetworkList.close();
                        cmdNetworkList.release();
                    } catch (e) {
                        alertError(e)
                    }
                },
                //移除方法
                remove: function (network) {
                    name = network.name
                    id = network.id
                    UIkit.modal.confirm("Are you sure to remove <span class='uk-text-danger'>" + name + "</span> ?", function () {
                        try {
                            var cmdNetworkRemove = new CmdNetworkRemove(id);
                            cmdNetworkRemove.send();
                            cmdNetworkRemove.close();
                            cmdNetworkRemove.release();
                            networkListVue.query();
                        } catch (e) {
                            alertError(e)
                        }
                    });

                },
                openCreateDialog: function () {
                    createNetworkDialog = UIkit.modal("#createNetworkDialog");
                    createNetworkDialog.show();
                },
                create: function () {
                    try {
                        var cmdNetworkCreate = new CmdNetworkCreate();
                        cmdNetworkCreate.checkDuplicate(true);
                        cmdNetworkCreate.name(this.createParams.name);
                        cmdNetworkCreate.driver(this.createParams.driver);

                        if (this.createParams.gateway != "" && this.createParams.subnet != ""
                            && this.createParams.ipRange != "") {
                            cmdNetworkCreate.IPAMConfig(this.createParams.subnet,
                                this.createParams.ipRange, this.createParams.gateway)
                        }

                        cmdNetworkCreate.send();
                        cmdNetworkCreate.close();
                        createNetworkDialog.hide();
                        UIkit.modal.alert("Create network success.");
                        networkListVue.query();
                    } catch (e) {
                        alertError(e);
                    }
                }
            }
        });
        var urlId = getQueryString("id");
        if(urlId != null){
            $("#query").hide();
        }
        networkListVue.queryParams.id = urlId==null?"" : urlId;
        networkListVue.query()
    }
</script>
<body onload="init()" class="frameBody">
<div id="networkApp" class="uk-grid" style="height:100%">
    <div class="uk-width-6-6" style="padding-right: 32px;">
        <div class="uk-panel"></div>
        <h3 class="uk-text-middle">Network manager</h3>
        <div id="query" class="uk-panel uk-panel-box uk-text-bold">
            <div class="uk-grid">
                <div class="uk-width-5-6 uk-form">
                    <span class="mr5">Id:</span>
                    <input class="uk-form-width-medium" id="id"
                           type="text" placeholder="network id" v-model="queryParams.id">
                    <span class="mr5">Name:</span><input class="uk-form-width-medium"
                        type="text" placeholder="network name" v-model="queryParams.name">
                    <span class="mr5">Status:</span>
                    <select id="driver" v-model="queryParams.driver">
                        <option value="ALL">All</option>
                        <option value="bridge">bridge</option>
                        <option value="overlay">overlay</option>
                        <option value="host">host</option>
                        <option value="null">null</option>
                    </select>
                    <a class="uk-button uk-button-small" @click="query()"><i class="uk-icon-search"></i></a>
                </div>
                <div class="uk-width-1-6 uk-text-right">
                    <a class="uk-button uk-button-small uk-button-primary"
                       @click="openCreateDialog"><i class="uk-icon-plus-square"></i> </a>
                </div>
            </div>
        </div>
        <table id="networkList" class="uk-table uk-overflow-container uk-panel-box">
            <caption>Network list</caption>
            <thead>
            <tr>
                <th class="uk-text-center uk-width-1-10">NO.</th>
                <th class="uk-width-2-10">Id</th>
                <th class="uk-width-2-10">Name</th>
                <th class="uk-width-1-10">Driver</th>
                <th class="uk-width-2-10">Subnet</th>
                <th class="uk-text-center">Operation</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="(network,index) in networkList">
                <td class="uk-text-center uk-text-middle uk-text-small">{{index+1}}</td>
                <td class="uk-text-bold uk-text-middle uk-text-primary">{{network.id|shortDockerId(12)}}</td>
                <td class="uk-text-bold uk-text-middle uk-text-success">{{network.name}}</td>
                <td>{{network.driver}}</td>
                <td class="uk-text-middle uk-text-success">
                    <code v-if="network.ipam.config.length > 0">{{network.ipam.config[0].subnet}}</code>
                </td>
                <td class="uk-text-center uk-text-middle">
                    <input class="uk-button uk-button-small uk-button-danger" type="button" value="Remove"
                           @click="remove(network)"/>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div id="createNetworkDialog" class="uk-modal">
        <div class="uk-modal-dialog uk-overflow-container">
            <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
            <div class="uk-modal-header"><h2 class="uk-text-success">Create a new network</h2></div>
            <div class="uk-form">
                <table class="uk-table uk-overflow-container uk-panel-box">
                    <tr>
                        <td class="dialogField">Name:</td>
                        <td><input id="name" class="uk-form-width-medium" type="text"
                                   placeholder="network name" v-model="createParams.name"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Driver:</td>
                        <td>
                            <select id="driver" class="uk-form-width-medium" v-model="createParams.driver">
                                <option value="bridge">bridge</option>
                                <option value="overlay">overlay</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="dialogField">IP Range:</td>
                        <td><input id="ipRange" class="uk-form-width-medium" type="text"
                                   placeholder="dhcp ip range" v-model="createParams.ipRange"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Subnet:</td>
                        <td><input id="subnet" class="uk-form-width-medium" type="text"
                                   placeholder="dhcp subnet" v-model="createParams.subnet"/></td>
                    </tr>
                    <tr>
                        <td class="dialogField">Gateway:</td>
                        <td><input id="gateway" class="uk-form-width-medium" type="text"
                                   placeholder="gateway in this network" v-model="createParams.gateway"/></td>
                    </tr>
                    <tr>
                        <td class="uk-text-right" colspan="2">
                            <input id="create" class="uk-button uk-button-primary" style="color:white"
                                   type="button" value="Create" @click="create()">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>